/* Desktop  */

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

}

/* Tablet  */

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 912px) {

}

@media only screen and (max-width: 855px) {

}

@media only screen and (max-width: 810px) {

}

@media only screen and (max-width: 780px) {

}

/* Mobile */

@media only screen and (max-width: 580px) {

	html {
		overflow-x: hidden;
	}

	.container {
		width: 100%;
	}

	header {

		.container {
			.col {
				flex: 0 0 50%;
			}

			.col:nth-child(1) {
				order: 1;

				.menu {
					width: 48px;
					margin-inline-end: 1rem;
				}
			}

			.col:nth-child(2) {
				order: 0;
				margin-block-start: 0;
				text-align: left;
			}

			.col:nth-child(3) {
				display: none;
			}
		}
	}

	.homeBanner {

		figure {
			background: url('../img/HeroBanner.jpg') center;
		}

		.homeBanner_content {

			h1 {
				font-size: 3rem !important;
				line-height: 3.5rem;
			}
		}

		.grid {

			.masktl {
				inline-size: calc(25%) !important;

				&::after {
					left: calc(100%) !important;
					inline-size: 100% !important;
				}
			}

			.masktr {
				right: 0 !important;
				inline-size: calc(25%) !important;

				&::after {
					display: none !important;
				}
			}

			.maskbl {
				inline-size: calc(25%) !important;
				left: 25% !important;
			}
		}
	}

	.grid {

		.col-grid {
			flex: 0 0 calc(25% - 2px) !important;
		}

		.col-grid:nth-child(5),
		.col-grid:nth-child(6) {
			display: none;
		}
	}

	nav {
		.navCompo {
			width: 80%;
		}
	}

	.midBar {
		padding-inline: 1rem;

		h2 {
			display: block;
			margin: 0 0 1.5rem 0;
		}

		a {
			display: block;
		}
	}

	.mainContent {

		.container {
			padding-block-end: 0;
		}
	}

	.introTxt {
		display: block;

		.colLeft {
			padding-inline: 1rem;
			margin-block-end: 1rem;
			text-align: center;

			h2 {
				font-size: 3rem;
				line-height: 3.5rem;
			}
		}

		.colRight {
			padding: 0 1rem;
		}
	}

	.ourServices {
		display: block;
		padding-inline: 1rem;

		.itemService {
			border-radius: 4px;

			&:not(:last-of-type) {
				margin-block-end: 1rem;
			}

			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				border-bottom: 1px solid #E5E5E5;
			}
		}
	}

	.secTitle {
		padding: 0 1rem;
		margin-block-end: 2rem;
		text-align: center;

		h2 {
			font-size: 3rem;
			line-height: 3.5rem;
		}
	}

	.aboutSimba {
		padding-block-end: 0;

		.imgFiller {
			display: none;
		}
	}

	.aboutBanner {
		background: url(../img/aboutBanner.jpg) 30% center no-repeat;
		background-size: cover;
		display: flex;
		align-items: center;
		min-height: 0;

		.container {
			padding: 5rem 0;
		}

		.aboutContent {
			position: static !important;
			width: calc(100% - 2rem) !important;
			border-radius: 4px;
			background: rgba(255, 255, 255, .9) !important;
			backdrop-filter: blur(8px);

			article {
				padding: 2.5rem !important;

				a {
					display: block !important;
					text-align: center;
				}
			}
		}

		.grid {

			.masktralt {
				display: none;
			}
		}
	}

	.ourPromise {

		.container {
			display: block;
		}

		.colLeft {
			padding: 0 1rem;

			h2 {
				text-align: center;
			}

			a {
				margin-block-start: 2rem;
				display: block;
				text-align: center;
			}
		}

		.colRight {
			padding: 0 1rem;

			.iconList {
				display: block;
				margin-block-start: 2rem;

				.itemIcon {

					&:not(:last-of-type) {
						border-bottom: 1px dashed rgba(255, 255, 255, .1);
					}
				}
			}
		}
	}

	footer {

		.twoCol {
			display: block;
			padding-inline: 1rem;

			.colLeft {
				display: block;

				figure {
					text-align: center;
				}

				article {
					margin: 2rem 0;
				}
			}
		}

		.copyright {
			display: block;
			width: calc(100% - 2rem);
			text-align: center;

			.colRight {
				margin-block-start: 3rem;
			}
		}
	}

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 440px) {

}

@media only screen and (max-width: 414px) {

}

@media only screen and (max-width: 390px) {

}

@media only screen and (max-width: 375px) {

}